body 
{
    background-color: #ffe4e1;
}

hr 
{
    border-color: #2b2b2b;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 3%;
}

h3 
{
    color: blueviolet;
}

h1 
{
    color: blueviolet;
}